/* Mobile */
.pusher {
    margin-left: 180px;
}

.item {
    border: 10px solid blue;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .pusher {
        margin-left: 280px;
    }
}

@media (min-width: 991px) {
    .pusher {
        margin-left: 260px;
    }
}